.navbar-default {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 19%, rgba(72,75,96,0.9051995798319328) 82%, rgba(137,142,145,1) 100%);
}

.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a  {
  background-color: transparent  !important;
}

.navbar-default .navbar-brand {
  color: white;
}

h5 {
  color: white;
  font-family: 'Raleway';
}

h2 {
  font-size: 40px;
  text-align: center;
  font-family: 'Raleway';
}

footer {
  'position: absolute;'
  'margin-top: auto;'
  height: 20px;
  width: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 19%, rgba(72,75,96,0.9051995798319328) 82%, rgba(137,142,145,1) 100%);
  color: white !important;
}

html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}